Hello, my name is **Lyuman** and I'm going to review your project!

You can find my comments in <font color='green'>green</font>, <font color='blue'>blue</font> or <font color='red'>red</font> boxes like this:

<div class="alert alert-block alert-success">
<b>Success:</b> if everything is done succesfully
</div>

<div class="alert alert-block alert-info">
<b>Recommendation: </b> "Recommendation" comments mean that there are tiny corrections that could help you to make your project better.
</div>

<div class="alert alert-block alert-danger">
<b>Needs fixing:</b> if the block requires some corrections. Work can't be accepted with the red comments.
</div>

### <font color='orange'>General feedback</font>
* Thank you for sending your project. You've done a really good job on it! 
* Nice project! Your hard work and dedication is impressive. I really liked your efforts! 
* I left some tips, I would like you to pay attention to them.
* I'm glad to say that your project has been accepted.
* Keep up the good work, and good luck on the next sprint!

## Analyzing borrowers’ risk of defaulting

Your project is to prepare a report for a bank’s loan division. You’ll need to find out if a customer’s marital status and number of children has an impact on whether they will default on a loan. The bank already has some data on customers’ credit worthiness.

Your report will be considered when building a **credit scoring** of a potential customer. A ** credit scoring ** is used to evaluate the ability of a potential borrower to repay their loan.

<div class="alert alert-block alert-info">
<b>Recommendation: </b> It would be good to see plan of  actions for project before.
</div>

### Step 1. Open the data file and have a look at the general information.

In [1]:
import pandas as df
customers = df.read_csv('https://code.s3.yandex.net/datasets/credit_scoring_eng.csv')
customers = customers.rename(columns={'dob_years': 'age'})
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   age               21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-block alert-info">
<b>Recommendation: </b> It would be better if all imports were in the first separate cell. <br>People often run the entire project, and it is better for them to get an error about an uninstalled package, in the first step, and they fix it than in the middle of execution.
</div>

### Conclusion

The information about the table was analyzed, we see that it consists of 12 columns, there is not enough data in two columns **[‘days_employed’, ’total_income’]**, the column name **‘dob_years’** is better to replace with **‘age’**.At first glance, we only need to convert the data type in column **"days_employed"**.

<div class="alert alert-block alert-success">
<b>Success:</b>Good job, the first step was done right!
</div>

### Step 2. Data preprocessing

### Processing missing values

In [2]:
# par.1
# #replace Nan to 0
customers['days_employed'] = customers['days_employed'].fillna(value = 0)

# par.2
#column 'total_income' median
average_total_income = customers['total_income'].median()
#replace Nan to 'average_total_income'
customers['total_income'] = customers['total_income'].fillna(value = average_total_income)

# par.4
# column 'children' replace '20' ==> '2', '-1' ==> '1' ???
customers['children'] = customers['children'].replace(20, 2)
customers['children'] = customers['children'].replace(-1, 1)

# par.5
# column 'age' median
average_age = customers['age'].loc[(customers['age'] > 0)].median()
# column 'age' replace '0' ==> median
customers['age'] = customers['age'].replace(0, average_age)

### Conclusion

1. The data from **‘days_employed’** column is not true. **15906** records have a negative value, **3445** records have an abnormally large value (over 500 years old), **2174** records have **"NaN"**. I think that this anomaly was due to a failed data type conversion or an unsuccessful upload of data from the server. It doesn't make sense to correct or analyze the data from this column.

2. **2174** records are missing information in columns **[‘days_employed’, ’total_income’]**. Having looked at these records, I did not find a pattern according to which these values could have been missed deliberately. These people are of different ages, most of them work and have completely different goals for obtaining a loan. Most of them (**92%**) have no debt. I thought to deleted these records or write down the average value, in the end I decided to write the average value in the 'total_income' column, and leave it unchanged in the **'days_employed'** column, since the data from this column will not be use to analysis

3. One record had an anomaly in the **'gender'** column = **‘XNA’**, which I didn’t correct, as gender does not affect the conclusions in this analysis.

4. There was also a data anomaly in the **“children”** column. 76 people have 20 children and 47 have **“-1”** children. I believe that these errors resulted from data entry. I changed **“20”** to **“2”** and **“-1”** to **“1”**.

5. Also in the column **‘age’** 91 records have the value **“0”**, replaced this value with the **average age** in the table.

<div class="alert alert-block alert-success">
<b>Success:</b> Great preprocessing step!  I agree with your reasoning, but I think that days_employed columns would be better to convert negative values to positive.
</div>

### Data type replacement

In [3]:
try: 
    customers['days_employed'] = customers['days_employed'].astype('int')
    customers['total_income'] = customers['total_income'].astype('int')
except: 
    print('Data conversion failed ((')
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  int64
 2   age               21525 non-null  float64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int64
 11  purpose           21525 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

### Conclusion

I don't think that changing the data type from **"float"** to **"int"** is  expedient in this case. Column **'days_employed'** - we decided not to analyze, and in column **'total_income'** the data can be float, but for a more visual display of the data, I converted the float to int using the **astype()** method.

I also used the **'try - except'** construction so that there was no crash.

<div class="alert alert-block alert-success">
<b>Success:</b>Good job! It is good that you know about try except, and can appropriately use it.
</div>

### Processing duplicates

In [4]:
# Removing duplicate records in column 'education'
customers['education'] = customers['education'].str.lower() 
customers['education'].value_counts()

# Joining 'entrepreneur' to 'business'
customers['income_type'] = customers['income_type'].replace('entrepreneur', 'business')

# Removing duplicate records in column 'purpose'
customers['purpose'].value_counts().count() # there are 38 different types of purpose
from nltk.stem import SnowballStemmer 
english_stemmer = SnowballStemmer('english')

def type_of_purpose(purpose):
    for word in purpose.split(' '):
        if 'car' == english_stemmer.stem(word):
           return 'buying a car'
        if 'wed' == english_stemmer.stem(word):      
           return 'wedding ceremony'
        if ('educ' == english_stemmer.stem(word) or 'univers' == english_stemmer.stem(word)):   
           return 'going to university'
        if ('hous' == english_stemmer.stem(word) or 'properti' == english_stemmer.stem(word) or 'estat' == english_stemmer.stem(word)):
           return 'real estate transactions'
    
    return purpose

customers['purpose'] = customers['purpose'].apply(type_of_purpose)
customers['purpose'].value_counts()

real estate transactions    10840
buying a car                 4315
going to university          4022
wedding ceremony             2348
Name: purpose, dtype: int64

<div class="alert alert-block alert-info">
<b>Recommendation: </b> It would be better to see these actions in separate cells. Some of your action dosen't make sense in this format. For example: we doesn't see result of customers['education'].value_counts(), to see it, it should be the last in the cell or print should be used.
</div>

### Conclusion

After checking for duplicate columns with the **.value_counts()** method, I came to the conclusion:

1. Column **'education'** - there are duplicates, but it is enough to apply the **.lower()** method and all duplicates can be easily removed.

2. Column **'family_status'** - there aren't duplicates

3. Column **'gender'** - there aren't duplicates

4. Column **'income_type'** - there aren't duplicates, but you can combine **'business'** and **'entrepreneur'**.
Also, the data **'unemployed'**, **‘paternity / maternity leave’** and **‘student’** can be deleted, since only 4 records have these types of income.

5. Column **'purpose'** - we can see **38** different types, but if you remove duplicates then there will be only 4 types of purpose: **'real estate transactions'**, **'wedding ceremony'**, **'going to university'** and **'buying a car'**. Duplicates removed by Stemming method.

I think there are duplicates in the data, since the operator filled them in manually, and didn't select from the list.

<div class="alert alert-block alert-success">
<b>Success:</b> Good work with stemming! <br> It would be better if you used .duplicated() method for their analysis and droped it in this step for whole dataset one-time, instead of dropping couple of time in the next part
</div>

### Categorizing Data

In [5]:
# create dictionary children_dict
children_dict = customers[['children']]
children_dict = children_dict.drop_duplicates().reset_index(drop=True)

def is_children(children):
    if children == 0 :
        return 'No children'
    return 'Have children'

# adding the string field 'is_children'
children_dict['is_children'] = children_dict['children'].apply(is_children)
children_dict['is_children'].value_counts()
children_dict

# create dictionary debt_dict
debt_dict = customers[['debt']]
debt_dict = debt_dict.drop_duplicates().reset_index(drop=True)

def is_debt(debt):
    if debt == 0 :
        return 'no debt'
    return 'there is a debt'

# adding the string field 'is_debt'
debt_dict['is_debt'] = debt_dict['debt'].apply(is_debt)
debt_dict['is_debt'].value_counts()
debt_dict

# create dictionary total_income_dict
def group_income (total_income):
    if total_income <15000 :
        return 0
    if total_income <20000 :
        return 1
    if total_income <25000 :
        return 2
    if total_income <30000 :
        return 3
    if total_income <40000 :
        return 4
    return 5

# adding the field 'group_income'
customers['group_income'] = customers['total_income'].apply(group_income)
# create dictionary total_income_dict
total_income_dict = customers[['group_income']]
total_income_dict = total_income_dict.drop_duplicates().reset_index(drop=True)

def name_group_income (group_income):
    if group_income == 0 :
        return '< 15000'
    if group_income == 1 :
        return '15000 - 20000'
    if group_income == 2 :
        return '20000 - 25000'
    if group_income == 3 :
        return '25000 - 30000'
    if group_income == 4 :
        return '30000 - 40000'
    return '> 40000'

# adding the string field 'name_group_income'
total_income_dict['name_group_income'] = total_income_dict['group_income'].apply(name_group_income)
total_income_dict.sort_values(by='group_income', ascending = True)

   group_income name_group_income
5             0           < 15000
1             1     15000 - 20000
2             2     20000 - 25000
3             3     25000 - 30000
4             4     30000 - 40000
0             5           > 40000

<div class="alert alert-block alert-success">
<b>Success:</b> Categorization was done well!
</div>

<div class="alert alert-block alert-info">
<b>Recommendation: </b> It would be better of you exaplained partition boundaries for total income and use real name of groups. for example "low, high, middle" instead of just number : '1,2,3,4,5"
</div>

### Conclusion

In order not to overload the table with text data, 3 additional dictionaries **'children_dict'**, **'debt_dict'** and **'total_income_dict'** were created. If necessary, we can combine them with the table using the **'.merge()'** method. Additional string columns have been added to the dictionaries to make it easier to analyze the data.

### Step 3. Answer these questions

- Is there a relation between having kids and repaying a loan on time?

In [6]:
#a children_debt table is created from customers, children_dict and debt_dict.
children_debt = customers[['children','debt','purpose']]
children_debt = children_dict.merge(children_debt, on='children', how='right')
children_debt = debt_dict.merge(children_debt, on='debt', how='right')

#pivot table is creating for analysis
cd_pivot = children_debt.pivot_table(index='is_children', columns='is_debt', values='purpose', aggfunc='count')
cd_pivot['ratio'] = cd_pivot.loc[:,'there is a debt']/( cd_pivot.loc[:,'no debt'] + cd_pivot.loc[:,'there is a debt'])
cd_pivot

is_debt        no debt  there is a debt     ratio
is_children
Have children     6698              678  0.091920
No children      13086             1063  0.075129

### Conclusion

If a person **has a child**, the likelihood increases that the loan will not be repaid on time.

<div class="alert alert-block alert-success">
<b>Success:</b> Correct.
</div>

- Is there a relation between marital status and repaying a loan on time?

In [7]:
#a marital_debt table is created from customers and debt_dict
marital_debt = customers[['family_status','debt','purpose']]
marital_debt = debt_dict.merge(marital_debt, on='debt', how='right')

#pivot table is creating for analysis
md_pivot = marital_debt.pivot_table(index='family_status', columns='is_debt', values='purpose', aggfunc='count')
md_pivot['ratio'] = md_pivot.loc[:,'there is a debt']/( md_pivot.loc[:,'no debt'] + md_pivot.loc[:,'there is a debt'])
md_pivot.sort_values(by='ratio', ascending = True)

is_debt            no debt  there is a debt     ratio
family_status
widow / widower        897               63  0.065625
divorced              1110               85  0.071130
married              11449              931  0.075202
civil partnership     3789              388  0.092890
unmarried             2539              274  0.097405

### Conclusion

After analyzing the data obtained, we can say that **'widow / widower'** and **'divorced'** have fewer overdue loans, and the **'unmarried'** group has the worst indicator of timely loan repayment. For the analysis, the **.merge()** and **.pivot_table()** methods were used.

<div class="alert alert-block alert-success">
<b>Success:</b> Good.
</div>

- Is there a relation between income level and repaying a loan on time?

In [8]:
#a total_income_debt table is created from customers, total_income_dict and debt_dict.
total_income_debt = customers[['group_income','debt','purpose']]
total_income_debt = total_income_dict.merge(total_income_debt, on='group_income', how='right')
total_income_debt = debt_dict.merge(total_income_debt, on='debt', how='right')
total_income_debt

#pivot table is creating for analysis
tid_pivot = total_income_debt.pivot_table(index='name_group_income', columns='is_debt', values='purpose', aggfunc='count')
tid_pivot['ratio'] = tid_pivot.loc[:,'there is a debt']/( tid_pivot.loc[:,'no debt'] + tid_pivot.loc[:,'there is a debt'])
tid_pivot.sort_values(by='ratio', ascending = True)

is_debt            no debt  there is a debt     ratio
name_group_income
> 40000               2618              194  0.068990
30000 - 40000         2865              242  0.077889
< 15000               3445              298  0.079615
20000 - 25000         5095              458  0.082478
15000 - 20000         3316              310  0.085494
25000 - 30000         2445              239  0.089046

### Conclusion

After analyzing the obtained data, we see that the best borrowers are clients with an income of more than **40,000**, and the most unreliable borrowers are clients with an income of **15,000 - 20,000** or **25,000 - 30,000**.

<div class="alert alert-block alert-success">
<b>Success:</b> Result is logical 
based on your partitioning of data into groups.
</div>

- How do different loan purposes affect on-time repayment of the loan?

In [9]:
#a purposes_debt table is created from customers and debt_dict.
purposes_debt = customers[['purpose','debt','age']]
purposes_debt = debt_dict.merge(purposes_debt, on='debt', how='right')
purposes_debt

#pivot table is creating for analysis
pd_pivot = purposes_debt.pivot_table(index='purpose', columns='is_debt', values='age', aggfunc='count')
pd_pivot['ratio'] = pd_pivot.loc[:,'there is a debt']/( pd_pivot.loc[:,'no debt'] + pd_pivot.loc[:,'there is a debt'])
pd_pivot.sort_values(by='ratio', ascending = True)

is_debt                   no debt  there is a debt     ratio
purpose
real estate transactions    10058              782  0.072140
wedding ceremony             2162              186  0.079216
going to university          3652              370  0.091994
buying a car                 3912              403  0.093395

### Conclusion

After analyzing the data obtained, we can say that the best borrowers are those who take out a loan **to buy real** estate. Those who take out a loan **to buy a car** have the worst indicator of the timeliness of loan repayment. For the analysis, the **.merge()** and **.pivot_table()** methods were used.

<div class="alert alert-block alert-success">
<b>Success:</b> Good job.
</div>

### Step 4. General conclusion

After analyzing the data, we can say that the worst borrowers are **not married** people **with children**, taking out a **car** loan and having an income of **15,000 - 30,000**. And the best borrowers are **widows** with **children**, taking out a loan for **real estate** and having an income of more than **40,000**.

<div class="alert alert-block alert-success">
<b>Success:</b> Excellent! All questions were investigated and clear and logical answers were given. <br> Very good that pivot_table was used!
</div>

### Project Readiness Checklist

Put 'x' in the completed points. Then press Shift + Enter.

- [x]  file open;
- [x]  file examined;
- [x]  missing values defined;
- [x]  missing values are filled;
- [x]  an explanation of which missing value types were detected;
- [x]  explanation for the possible causes of missing values;
- [x]  an explanation of how the blanks are filled;
- [x]  replaced the real data type with an integer;
- [x]  an explanation of which method is used to change the data type and why;
- [x]  duplicates deleted;
- [x]  an explanation of which method is used to find and remove duplicates;
- [x]  description of the possible reasons for the appearance of duplicates in the data;
- [x]  data is categorized;
- [x]  an explanation of the principle of data categorization;
- [x]  an answer to the question "Is there a relation between having kids and repaying a loan on time?";
- [x]  an answer to the question " Is there a relation between marital status and repaying a loan on time?";
- [x]   an answer to the question " Is there a relation between income level and repaying a loan on time?";
- [x]  an answer to the question " How do different loan purposes affect on-time repayment of the loan?"
- [x]  conclusions are present on each stage;
- [x]  a general conclusion is made.

In [10]:
#find out what percentage of loan default under the worst conditions.
worse_group = customers.loc[(customers['purpose'] == 'buying a car') & (customers['children'] != 0) & (customers['family_status'] == 'unmarried') & (customers['group_income'] != 3) ]
worse_group = debt_dict.merge(worse_group, on='debt', how='right')

#pivot table is creating for analysis
wg_pivot = worse_group.pivot_table(index='purpose', columns='is_debt', values='age', aggfunc='count')
wg_pivot['ratio'] = wg_pivot.loc[:,'there is a debt']/( wg_pivot.loc[:,'no debt'] + wg_pivot.loc[:,'there is a debt'])
wg_pivot

#more than 12%

is_debt       no debt  there is a debt  ratio
purpose
buying a car       91               13  0.125

<div class="alert alert-block alert-success">
<b>Success:</b> Nice.
</div>